policy_module(jnode, 1.0.0)

# process domain
type jnode_t;

# type for executable file
type jnode_exec_t;

# type for config files
type jnode_conf_t;

# type for caching (i.e. /var/cache/)
type jnode_cache_t;

# type for log file
type jnode_log_t;

# type for temporary files
type jnode_tmp_t;

# type for the port that the application listens to (using binkp protocol)
type binkp_port_t;

# For config files
files_config_file(jnode_conf_t)

# For misc files
files_type(jnode_cache_t)

# For log files
logging_log_file(jnode_log_t)

#  For temp files
files_tmp_file(jnode_tmp_t)

# For ports
corenet_port(binkp_port_t)

# Application macros: adds jnode_t type to the list of applications
# and allows it to be launched by  jnode_exec_t type
application_domain(jnode_t, jnode_exec_t)

# Daemon macros: adds jnode_t type to the list of daemons,
# allowing it to be launched by systemd and sets the transition:
# if systemd launches the file with jnode_exec_t type, then the process
# receives the jnode_t type
init_daemon_domain(jnode_t, jnode_exec_t)

# Allows the jnode_t type execute standard binary files ( /bin, /usr/bin )
corecmd_exec_bin(jnode_t)

# Allows the jnode_t type to use libraries
libs_use_ld_so(jnode_t)

# Allows the jnode_t type to read the system status ( cpu, memory )
kernel_read_system_state(jnode_t)

# Allows the jnode_t type to write to /tmp
files_rw_generic_tmp_dir(jnode_t)

# Allows the jnode_t type to read the network config files ( i.e., /etc/resolv.conf )
sysnet_read_config(jnode_t)

# Allows the jnode_t type to read random numbers from /dev/(u)random
dev_read_rand(jnode_t)

# Allows the jnode_t type to read file ssystem attributes ( free disk space )
fs_getattr_xattr_fs(jnode_t)

# Allows the jnode_t type to do dns resolve
sysnet_dns_name_resolve(jnode_t)

# Allows the jnode_t type to read /var/log ( read_only )
logging_search_logs(jnode_t)

# Sets the rule: log files created by jnode_t process
# will have the jnode_log_t type
logging_log_filetrans(jnode_t, jnode_log_t, file)

# Sets the rule: tmp-files created by jnode_t process
# will have the jnode_tmp_t type
files_poly_member_tmp(jnode_t, jnode_tmp_t)

# Allows jnode_t to execute bind() to any address
corenet_tcp_bind_generic_node(jnode_t)

# Allows jnode_t to communicate with postgresql over unix-socket
postgresql_stream_connect(jnode_t)

# Allows jnode_t to communicate with postgresql over network
corenet_tcp_connect_postgresql_port(jnode_t)

